@page "/products"
@inject IHttpService Http

@if (message != null)
{
    @message
    <br />
}
else
{
    @if(products == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
         <button action="action"
                onclick="window.history.go(-1); return false;"
                type="submit" class="oi oi-arrow-thick-left"
                style="background-color:var(--background); color: var(--font-color) ;width:60px; height: 30px; border: none; margin-bottom: 20px">
        </button>
        <h3>Menu</h3>
        <table class="table">
            <thead style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); color:white">
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Category</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
@code {
    private List<Product> products = new List<Product>();
    private string message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await Http.Get<List<Product>>(ApiConstants.ProductsEndpoint);
        }
        catch (Exception ex)
        {
            message = ex.Message;
            StateHasChanged();
        }
    }
}
