@page "/"
@inject IAccountService AccountService

@if (@AccountService.User != null)
{
    <h1>Hi @AccountService.User.Username!</h1>
}
else
{
    <h1>Hi!</h1>
}

<p>
    In case it wasn’t clear, we love hotdogs. To us, they represent the fun of food – hands-on, all-in, and messy in a good way. That’s why since making our first sausage in 1991, we’ve taken our hotdogs across the country: from universities to theme parks, cinemas to stadiums and everywhere in between.
    Throughout that time we’ve constantly grown our range, bringing delicious food and smart equipment to all of our customers, and we don’t plan on stopping anytime soon.
</p>

