@page "/request-details/{RequestId}"
@inject NavigationManager NavigationManager
@inject IHttpService Http
@inject AppState AppState

<button action="action"
        onclick="window.history.go(-1); return false;"
        type="submit" class="oi oi-arrow-thick-left"
        style="background-color:var(--background); color: var(--font-color) ;width:60px; height: 30px; border: none; margin-bottom: 20px">
</button>

@if (message != null)
{
    @message
    <br />
}
else {
    <h3>Requests Details</h3>
    <table class="table">
        <thead style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); color:white">
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in productRequests)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public string RequestId { get; set; }
    private ProductsRequest productsRequest = new ProductsRequest();

    private List<ProductRequest> productRequests = new List<ProductRequest>();
    private string message { get; set; }
     
    protected override async Task OnInitializedAsync()
    {
        try
        {
            productsRequest = await Http.Get<ProductsRequest>($"{ApiConstants.ProductsRequestEndpoint}/{Guid.Parse(RequestId)}");
            productRequests = productsRequest.ProductRequests;
        }
        catch (Exception ex)
        {
            message = ex.Message;
            StateHasChanged();
        }
    }
}